
# ignore .git and .cache folders
.git
.cache

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md

# ignore github workflows
.github

# ignore unnecessary folders
hack
docs
deploy

# ignore unnecessary files
.gitignore
.travis.yml
.version
Makefile
LICENSE
